[flake8]
exclude =
    .git,
    .tox,
    .venv,
    .cache,
    __pycache__,
    dist,
    build,
    examples/hide_show_prompt_toolkit.py,
    # project specific
    yaspin/termcolor.py,
    gif-compose
