language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3
  - nightly

allow_failures:
  - python: pypy

install:
  - pip install -r requirements-test.txt

script:
  - pytest -v
