[tool.poetry]
name = "yaspin"
version = "1.0.0"
description = "Yet Another Terminal Spinner"
license = "MIT"
authors = ["Pavlo Dmytrenko <mail@pavdmyt.com>"]
readme = "README.rst"
homepage = "https://github.com/pavdmyt/yaspin"
repository = "https://github.com/pavdmyt/yaspin"
documentation = "https://github.com/pavdmyt/yaspin/blob/master/README.rst"
keywords = ["spinner", "console", "terminal", "loader", "indicator"]
packages = [
    { include = "yaspin" },
    { include = "tests", format = "sdist" },
    { include = "examples", format = "sdist" },
]
include = [
    "README.rst",
    "HISTORY.rst",
    "LICENSE",
    "yaspin/data/spinners.json",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Environment :: MacOS X",
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Other Audience",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python",
    "Programming Language :: Python :: 2",
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: Implementation",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: User Interfaces",
    "Topic :: System :: Logging",
    "Topic :: System :: Monitoring",
    "Topic :: System :: Shells",
    "Topic :: Terminals",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]
# Pylint ^1.9 fails with exceptions under Py37
#
# ^2.7 is required to build Py2-compatible wheels
python = "^2.7 || ^3.5"

[tool.poetry.dev-dependencies]
flake8 = "<3.7"  # Starting from 3.7.0 dislikes mypy notation
isort = "^4.3"   # Starting from v5 drops Py2 support
pytest = "^4.6"  # Starting from v5 drops Py2 support
pytest-xdist = "^1.33"
pytest-cov = "^2.10"
pytest-sugar = "^0.9"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/pavdmyt/yaspin/issues"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
