bumpversion~=0.5.3
flake8~=3.5.0
isort~=4.2.15
pylint~=1.7.4
pytest<3.3.0             # 3.3.0 no longer supports Python 2.6 and 3.3
pytest-cov~=2.5.1
pytest-sugar~=0.9.0

# required for `python setup.py check --restructuredtext -s`
docutils~=0.14
pygments~=2.2.0
